
path.link {
  fill:none;
  stroke: #666;
  stroke-width: 1.5px;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}
svg {
  border: 1px solid black;
}
#append {
  display:flex;
  justify-content: center;
}
.triadi {
  display: inline-block;
  border: 1px solid;
  margin: 8px;
    width: 200px;
}
.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.triad-image {
    display: flex;
    justify-content: center;
}
.container {
    margin: 50px;
}