<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="app.css">
</head>
<body>
    <div id="append">
    </div>

<div class="container">
    {% for t in tc %}
        <div class="triadi">
    <div class="triad-image">
        <img style="width:100px; height:100px;" src="/img/{{ t.tn }}.jpg"></img>
    </div>
    <div class="info">
        <h3>{{ t.tn }}</h3><br>
        <h3>{{ t.count }}</h3>
    </div>
        </div>
    {% endfor %}
</div>

</body>
<script src ="http://d3js.org/d3.v3.js"></script>
<script src="index.js"></script>
<script>
    start("{{ name }}");
</script>
</html>