<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="app.css">
</head>
<body>
    <table>
    <tr>
        <th>Triad Name</th>
        <th>Count</th>
        <th>Image</th>
    </tr>
    {% for t in tc %}
        <tr>
            <td>{{ t.tn }}</td>
            <td>{{ t.count }}</td>
            <td><img src="{{ t.tn }}.jpg"></img></td>
        </tr>
    {% endfor %}
    </table>
</body>
<script src ="http://d3js.org/d3.v3.js"></script>
<script src="index.js"></script>
<script>
    start("{{ name }}");
</script>
</html>